.div
{
    background-color: crimson;
}

#first 
{
    color: whitesmoke;
    background-color: tomato;
    text-align: center;
    font-size: large;
}


#second
{
    color: rgb(145, 0, 0);
    background-color:darkgrey;
    text-align: center;
    font-size: large;
}
img
{
    width: 50%;
    height: 50%;
    margin: 1.5%;
}
footer
{
    text-align: center;
    font-size: large;
}